*{
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header .container {
    border: 1px solid black;
    padding: 50px 100px;
}

header h1 {
    margin: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    margin-right: 30px;
    margin-top: 20px;
    font-size: 30px;
}

.menu ul li a {
    color: blue;
}

.input {
    justify-content: space-between;
    width: 500px;
    margin: 50px 0;
    display: flex;
}

.input input {
    width: 50%;
}

.input textarea {
    height: 100px;
    width: 50%;
}

.input h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

form button {
    text-align: center;
    border: 0;
    height: 25px;
    width: 100%;
}

footer .container {
    margin-top: 50px;
    border: 1px solid black;
}

footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    padding: 40px;
}

.input img {
    width: 250px;
    height: 300px;
}

.admin-category-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.admin-category {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-category h4{
    width: 25%;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

.admin-category .ctg-delete {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 50px;
    align-items: center;
    text-align: center;
    line-height:50px;
    border-radius: 50%;
    background: grey;
    text-decoration: none;
    display:inline-block;
}

.admin-category .ctg-edit {
    border: 1px solid grey;
    background: grey;
    color: black;
    text-decoration: none;
}

.admin-cards table {
    margin: auto;
    margin-top: 75px;
}

.admin-cards table td {
    width: 200px;
    padding: 10px 0;
    border: 1px solid black;
}

.admin-cards-delete {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 25px;
    height: 25px;
    align-items: center;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    background: grey;
    text-decoration: none;
    display:inline-block;
}